* {
    text-decoration: none;
    margin: 0;
    box-sizing: content-box;

    --main-color: darkblue;
    --second-option-color: #5B8FB9;
}
a {
    color: white;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fde29339;
}

.content-wrapper {
    max-width: 1360px;
    margin: 0 auto;
}

.header {
    background-color: var(--main-color);

}

.header__wrapper {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.header__image {
    width: 120px;
    height: 120px;
}

.home-link:hover {
    transition: all 0.3s ease-in;
    transform: scale(1.1);
}

.header__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.header__title:hover  {
    transition: all 0.3s ease-in;
}

.link-ease-in-out a {
    display: inline-block;
    cursor: pointer;
}
.link-ease-in-out a:after {
    background-color: white; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
.link-ease-in-out a:hover:after,
.link-ease-in-out a:focus:after {
    width: 100%;
}

.header__logo {
    width: 120px;
    height: 120px;
    border: 4px solid white;
    border-radius: 100%;
}

.header__links {
    text-align: center;
}

.header__link:hover {
    transition: all 0.3s ease-in;
}

td {
    font-size: 25px;
}

.content__title {
    font-size: 35px;
    line-height: 1.1;
    text-align: center;
    font-weight: 500;
    padding: 40px;
}

.containers {
    justify-content: center;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.service-container {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    margin: 40px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service-container:hover {
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.261);
    color: black;
    transition: all 0.3s ease-in;
    transform: scale(1.1);
}

.service__link:hover {
    color: black;
    transition: all 0.3s ease-in;
}

.insurance {
    background-color: rgb(234, 67, 53);
}

.arrival {
    background-color: rgb(255, 166, 0);
}

.medical-pass {
    background-color: #fde293;
}

.departure {
    background-color: rgba(0, 128, 0, 0.649);
}

.test {
    background-color: rgb(0, 191, 255);
}

.certificate {
    background-color: rgb(105, 105, 239);
}

.development {
    position: absolute;
    box-sizing: border-box;
    right: -35px;
    top: -35px;
    background-color: rgba(0, 0, 139, 0.599);
    border-radius: 50%;
    padding-top: 25px;
    width: 80px;
    height: 80px;
    font-size: 10px;
}

.inner-container__title {
    font-size: 25px;
}

.inner-container__image {
    width: 100px;
}

.inner-container__text {
    font-size: 20px;
    line-height: 28px;
}

.project-description__wrapper {
    background-color: var(--second-option-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 100px 40px;
}

.iframe {
    padding: 40px;
}

.project-description__paragraph {
    padding: 0 40px;
    font-size: 20px;
}


.footer {
    background-color: var(--main-color);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
}

.footer-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.footer__links {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 431px) and (max-width: 768px) {

    .content__title {
        font-size: 20px;
    }

    .service-container {
        margin: 30px;
    }

    .development {
        right: 120px;
        top: -20px;
    }
}

    @media screen and (max-width: 430px) {

        .header__wrapper {
            flex-direction: column;
        }

        .header__link {
            font-size: 16px;
        }

        .header__links {
            flex-direction: column;
        }

        .header__image {
            display: none;
        }

        thead {
            display: none;
        }

        td {
            padding-right: 10px;
        }

        .header__title {
            font-size: 12px;
        }

        .content__title {
            font-size: 20px;
            padding: 10px;
        }

        .service-container {
            margin: 10px;
        }

        .development {
            box-sizing: border-box;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            right: -10px;
            top: -10px;
            padding-top: 27px;
            font-size: 10px;
        }

        .footer {
            margin-top: 20px;
        }

        .footer__disclaimer, .footer__links {
            font-size: 12px;
        }
}
