* {
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: white;
}

html {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #fde293;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__image {
    width: 150px;
}

.header__title {
    font-size: 20px;
    text-align: center;
}

.header__title:hover {
    color: black;
    transition: all 0.3s ease-in;
}

.header__logo {
    width: 150px;
}

.content__title {
    border: 5px solid #fde2937d;
    font-size: 45px;
    line-height: 1.1;
    letter-spacing: 5.5;
    text-align: center;
    font-weight: 500;
    padding: 40px;
}

.containers {
    background-color: #fde29339;
    justify-content: center;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.service-container {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    margin: 40px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service-container:hover {
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.261);
    color: black;
    transition: all 0.3s ease-in;
}

.service__link:hover {
    color: black;
    transition: all 0.3s ease-in;
}

.insurance {
    background-color: rgba(234, 68, 53, 0.832);
}

.arrival {
    background-color: rgba(255, 166, 0, 0.816);
}

.visa {
    background-color: #fde293;
}

.departure {
    background-color: rgba(0, 128, 0, 0.649);
}

.test {
    background-color: rgba(153, 153, 229, 0.714);
}

.certificate {
    background-color: rgba(0, 0, 254, 0.401);
}

.development {
    position: absolute;
    right: -35px;
    top: -35px;
    background-color: rgba(0, 0, 139, 0.599);
    border-radius: 50%;
    padding-top: 25px;
    width: 80px;
    height: 80px;
    font-size: 10px;
}

.inner-container__title {
    font-size: 25px;
}

.inner-container__image {
    width: 100px;
}

.inner-container__text {
    font-size: 20px;
    line-height: 28px;
}

.footer {
    background-color: #fde293;
    padding: 20px;
    text-align: center;
}

.footer__links {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 960px) {
    .header__image {
        display: none;
    }
    .header__logo {
        display: none;
    }

    .content__title {
        font-size: 20px;
    }

    .service-container {
        margin: 20px;
        width: 85vw;
    }
}
