* {
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

a {
    color: white;
}

html {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #fde293;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__image {
    width: 150px;
}

.header__title {
    font-size: 20px;
    text-align: center;
}

.header__logo {
    width: 150px;
}

.content__wrapper {
    background-color: #fde29339;
    padding: 40px;
    border-radius: ;
}

.content__title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 5.5;
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

.form {
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(234, 67, 53);
    border-radius: 25px;
    max-width: 500px;
}

.form__input {
    margin-bottom: 10px;
}

.form__input_label{
    font-size: 25px;
    max-width: 310px;
}

.form__input {
    width: 300px;
    height: 55px;
    border-radius: 15px;
}

.form__input:focus {
    border: 3px solid black;
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.261);
    transition: all 0.3s ease-in;
}

.form__checkbox_container {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.form__checkbox_container > .form__input_label {
    font-size: 15px;
    text-align: center;
    margin-left: -9px;
}

.form__button {
    margin: 20px;
    padding: 15px;
    font-size: 25px;
    border-radius: 15px;
    width: 90%;
}

.service-container:hover {
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.261);
    color: black;
    transition: all 0.3s ease-in;
}

.service__link:hover {
    color: black;
    transition: all 0.3s ease-in;
}
.inner-container__title {
    font-size: 25px;
}

.content__image {
    width: 100px;
    padding: 20px;
}

.footer {
    background-color: #fde293;
    padding: 20px;
    text-align: center;
}

.footer__links {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 960px) {
    .header__image {
        display: none;
    }
    .header__logo {
        display: none;
    }

    .content__title {
        font-size: 20px;
    }

    .service-container {
        margin: 10px;
        width: 85vw;
    }
}